<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Setting
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Language</ion-label>
    <ion-select [(ngModel)]="Language" (ionChange)="SetLanguage()">
      <ion-select-option value="hi">Hindi</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="fr">French</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
